<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/keys/{id}/style.css">
</head>
<body>
    <div class="container">
        <div class="top-section">
            <h1 class="title"><%= id %></h1>
        </div>
        <div class="key-infos">
            <div class="id-area">
                <h2 class="id-label">Id:</h2>
                <div class="id-content"></div>
            </div>
            <div class="replaces-area">
                <h2 class="replaces-label">Replaces:</h2>
                <div class="replaces-content"></div>
            </div>
            <div class="space-area">
                <h2 class="space-label">Espaço: </h2>
                <div class="space-content"></div>
            </div>
        </div>
        <div class="back"><a href="/keys">Voltar</a></div>
    </div>
</body>
</html>